@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.0.0/Vazirmatn-font-face.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');

:root {
  /* تنظیم فونت‌های سایت */
  --ifm-font-family-base: 'Vazirmatn', system-ui, sans-serif !important;
  --ifm-font-family-monospace: 'Fira Code', monospace !important;
  
  /* رنگ آبی هارمونیک آکادمی */
  --ifm-color-primary: #3b82f6;
  --ifm-color-primary-dark: #2563eb;
  --ifm-color-primary-darker: #1d4ed8;
  --ifm-color-primary-darkest: #1e3a8a;
  --ifm-color-primary-light: #60a5fa;
  --ifm-color-primary-lighter: #93c5fd;
  --ifm-color-primary-lightest: #bfdbfe;
}

[data-theme='dark'] {
  /* تنظیم پس‌زمینه دارک حرفه‌ای مشابه قالب قبلی */
  --ifm-background-color: #0b1121;
  --ifm-background-surface-color: #1e293b;
}

/* چپ‌چین کردن کدهای لینوکسی درون متن‌های فارسی */
pre, code {
    direction: ltr !important;
    text-align: left !important;
}